# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
craft_compass.db

# Environment variables
.env
venv/

# OS files
.DS_Store
Thumbs.db

# IDE and editor folders
.vscode/
.idea/

# Logs and temp
*.log
*.tmp
